---
title: All devs
heading: All developers
summary: The students and developers, past and present, that have passed through Onja
description: The students and developers, past and present, that have passed through Onja
eleventyExcludeFromCollections: true
---
<ol>
	{% for studentId in students %}
		{% set student = people[studentId] %}
		{% if student.graduated %}
			<li>
				<details>
					<summary>{{ student.name }}</summary>
					<h3>Education</h3>
					<p>2 year education at Onja completed</p>
					<h3>Employment</h3>
					<ul>
						{% for client in student.clients %}
							{% set employer = clients[client.id] %}
							<li>
								<b>{{ employer }}</b><br>
								{{ client.start }} - {{ client.date }}
							</li>
						{% endfor %}
					</ul>
				</details>
			</li>
		{% endif %}
	{% endfor %}
</ol>