<footer>
	<screenreader-only>
		<h2 id="heading_sitemap">Sitemap</h2>
	</screenreader-only>
	<nav aria-labelledby="heading_sitemap">
		<p>Main menu</p>
		<ul>
			<li><a href="{{ url.clients }}">Clients</a></li>
			<li><a href="{{ url.staff }}">Staff</a></li>
			<li><a href="{{ url.students }}">Students</a></li>
			<li><a href="{{ url.timeline }}">Timeline</a></li>
		</ul>
	</nav>
</footer>