---
title: All staff
heading: All staff
summary: The employees, past and present, that have passed through Onja
description: The employees, past and present, that have passed through Onja
eleventyExcludeFromCollections: true
---
{% set staffList = staff | objToArray %}
<ul>
	{% for member in staffList %}
		<li>
			{{ member.name }}
		</li>
	{% endfor %}
</ul>